<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ZYTConnString" connectionString="Data Source=118.26.233.118;Initial Catalog=HOMEWORK;User ID=Zxxk;Password=qw3e4t5-9o$9r^THeb6y5" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
