<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConStr" value="Server=192.168.149.167;Database=mfg_newresourcekf;Uid=root;Pwd=12345QAZxsw;"/>
    <!--<add key="ConStr" value="Server=localhost;Database=test222;Uid=root;Pwd=shaoshouhe;"/>-->
    <add key="ResourceApiQueryIp" value="192.168.140.19:8866" />
    <add key="ResourceApiProviderIp" value="192.168.140.19:8868" />
  </appSettings>
 
</configuration>