<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Climb.Core" version="1.0.11" targetFramework="net45" />
  <package id="Climb.MySqlDbHelperDebug" version="1.0.6" targetFramework="net45" />
  <package id="Climb.Utility" version="1.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.2" targetFramework="net45" />
  <package id="Mfg.Comm.Log.LogHelper" version="1.0.4" targetFramework="net45" />
  <package id="Mfg.Resource.Comm" version="1.0.15" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.0.0" targetFramework="net45" />
  <package id="ResourceQueryClient" version="1.0.18" targetFramework="net45" />
</packages>