<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!--
  %m(message):输出的日志消息，如ILog.Debug(…)输出的一条消息
  %n(new line)：換行
  %d(datetime):输出当前语句运行的时刻
  %r(run time):输出程序从运行到执行到当前语句时消耗的毫秒数
  %t(thread id):当前语句所在的线程ID
  %p(priority): 日志的当前优先级别，即DEBUG、INFO、WARN…等
  %c(class):当前日志对象的名称
  %L：输出语句所在的行号
  %F：输出语句所在的文件名
  %-数字：表示该项的最小长度，如果不够，则用空格填充-->
  <connectionStrings>
    <add name="QuestionConnString" connectionString="Data Source=114.55.93.86,52042;Initial Catalog=Zxxk_Question;User ID=Zxxk;Password=qw3e4t5-9o$9r^THeb6y5" providerName="System.Data.SqlClient" />
    <add name="ZYTConnString" connectionString="Data Source=114.55.93.86,52042;Initial Catalog=HS_HOMEWORK;User ID=Zxxk;Password=qw3e4t5-9o$9r^THeb6y5" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./log/" />
      <appendToFile value="true" />
      <!--<param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />-->
      <param name="DatePattern" value="yyyyMMdd&quot;-debug.log&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="false" />
      <Encoding value="UTF-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date][%-5level][%L] - %m%n" />
      </layout>
    </appender>

    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./log/" />
      <appendToFile value="true" />
      <param name="DatePattern" value="yyyyMMdd&quot;-error.log&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="false" />
      <Encoding value="UTF-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date][%-5level][%L] - %m%n" />
      </layout>
    </appender>
    <!--<appender name="DebugFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./log/" />
      <appendToFile value="true" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="1024KB" />
      <staticLogFileName value="false" />
      <Encoding value="UTF-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date][%-5level][%logge] - %m%n" />
      </layout>
    </appender>
    <appender name="ErrorFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="./log/" />
      <appendToFile value="true" />
      <param name="DatePattern" value="yyyyMMdd&quot;error.log&quot;" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10240KB" />
      <staticLogFileName value="false" />
      <Encoding value="UTF-8" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN" />
        <param name="LevelMax" value="FATAL" />
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date][%-5level][%logge] - %m%n" />
      </layout>
    </appender>
    -->
    <logger name="DebugFileAppender" additivity="false">
      <level value="Debug" />
      <appender-ref ref="DebugFileAppender" />
    </logger>
    <logger name="ErrorFileAppender" additivity="false">
      <level value="Error" />
      <appender-ref ref="ErrorFileAppender" />
    </logger>
    <root>
      <level value="ALL" />
      <appender-ref ref="DebugFileAppender" />
      <appender-ref ref="ErrorFileAppender" />
      <!--<appender-ref ref="DebugFileAppender" />
      <appender-ref ref="ErrorFileAppender" />-->
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>